/* -000- Grid Setup -000- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner banner"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    grid-gap: 4px;
}

/* -000- Grid setup end -000- */

/* -000- Area Colouring -000- */

body {
    background-color: #ddd;
}


/* -000- Area Colouring End -000- */

/* -000- Area Specifics -000- */

.box {
    border: solid 1px black;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
}

.banner {
    grid-area: banner;
    text-align: center;
    background-color: #D9C4C3;
    font-size: 50px
}

.main {
    grid-area: main;
    text-align: center;
    background-color: #AA7850;
}

.footer {
    grid-area: footer;
    text-align: right;
    background-color: #D9C4C3;
}

.nav {
    grid-area: nav;
    color: white;
    text-align: center;
    font-size: 150%;
}

.nav a {
    color: white;
    text-decoration: none;
}