/* -000- Grid Setup -000- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner banner"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    grid-gap: 4px;
}

/* -000- Grid setup end -000- */

/* -000- Area Colouring -000- */

body {
    background-color: #ddd;
}


/* -000- Area Colouring End -000- */

/* -000- Area Specifics -000- */

.box {
    border: solid 1px black;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
}

.banner {
    grid-area: banner;
    text-align: center;
    background-image: url(carbon.jpg);
    font-size: 50px;
    color: white;
    text-decoration: underline;
}

.main {
    grid-area: main;
    text-align: center;
    background-color: #AA7850;
}

.footer {
    grid-area: footer;
    text-align: right;
    background-color: #D9C4C3;
}

.nav {
    grid-area: nav;
    color: white;
    text-align: center;
    font-size: 150%;
    background-color: #D8D3D8;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:visited {
    color: black;
}


.button {
  background-color: #AA7850; /* Brown */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 8px;
}

.button:hover {
    box-shadow: 3px 3px 2px black;
}
