/* -000- Grid Setup Start -000- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner banner"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    grid-gap: 4px;
}

/* -000- Grid Setup End -000- */

/* -000- Area specifics start -000- */

body {
    background-color: lightgray;
}

.box {
    border: solid 1px black;
    text-align: center;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
}

.nav {
    grid-area: nav;
    font-size: 150%;
    color: white;
    text-decoration: none;
    background-color: #5F5044;
}

.banner {
    grid-area: banner;
    color: white;
    font-size: 50px;
    text-decoration: underline;
    background-image: url(carbon.jpg);
}

.main {
    grid-area: main;
    background-color: #DFB692;
}

.footer {
    grid-area: footer;
    background-color: #5F5044;
    text-align: right;
    color: white;
}

.nav a {
    color: white;
}

.nav a:visited {
    color: black;
}

.button {
  background-color: #DFB692; /* light-Brown */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 8px;
}

.button:hover {
    box-shadow: 3px 3px 2px black;
}
/* -000- Area specifics end -000- */