/* -000- Grid Setup -000- */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo banner banner"
        "nav nav nav"
        "main main sidebar"
        "footer footer footer";
    grid-gap: 4px;
}

/* -000- End of Grid Setup -000- */

/* -000- Area styling start -000- */

.box {
    border: solid 1px black;
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.banner {
    background-image: url(carbon.jpg);
}

.logo {
    background-image: url(carbon.jpg);
}

.nav, .sidebar, .footer {
    background-color: #E16407;
}

.main {
    background-color: #AA7850;
}

body {
    background-color: #ddd;
}
/* -000 Area styling end -000- */

/* -000- Area Specfics -000- */

.banner {
    grid-area: banner;
    text-align: center;
    color: orange;
    text-shadow: 2px 2px 1px brown;
    font-size: 300%;
    padding-bottom: 50px;
    padding-top: 120px;
}

.main {
    grid-area: main;
    color: white;
    font-size: 25px;
}

.sidebar {
    grid-area: sidebar;
    text-align: center;
}

.nav {
    grid-area: nav;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    color: white;
}

.footer {
    grid-area: footer;
    text-align: right;
}

.nav a:visited {
    color: white;
}

.logo {
    grid-area: logo;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

.MclarenCars {
    border: 10px outset black;
}

.button {
  background-color: #AA7850; /* light-Brown */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 8px;
}

.button:hover {
    box-shadow: 3px 3px 2px brown;
}
